{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vinyls') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('filter') }}
{% endblock %}

{% block title %}
    {{ parent() }}
    - Mes vinyls
{% endblock %}

{% block body %}
    <main>
        <h1 class="mt-5 mb-3">Mes vinyls</h1>
        {{ form_start(form, {'attr': {'id': 'filter-form'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <div class="cards row mt-3 mb-3 justify-content-between">
            {% for vinyl in vinyls %}
                <div class="card shadow mb-2 col-xl-3 col-lg-4 col-md-6 col-12 p-2">
                    <img src="{{ vich_uploader_asset(vinyl, 'imageFile') }}" class="card-img-top pochette" alt="{{ vinyl.title }}">
                    <div class="card-body bg-white">
                        <h5 class="card-title text-center fw-bolder">{{ vinyl.title }}</h5>
                        <a href="{{ path('vinyl_show', {title: vinyl.title}) }}" class="btn btn-primary col-12 mt-2">Détails</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
