{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}
    - Makina
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('makina') }}
{% endblock %}

{% block body %}
    <main>
        <h1 class="mt-5 mb-3">La Makina</h1>
        <section class="bg-white p-3 rounded">
            <h2 class="text-decoration-underline">Présentation:</h2>
            <p class="mt-3">
                La
                <span class="fw-bolder text-secondary fs-5">makina</span>
                (catalan : màkina, espagnol : mákina) est un sous-genre musical de la techno
                <span class="fw-bolder text-secondary fs-5">hardcore</span>
                ayant émergé en
                <span class="fw-bolder text-secondary fs-5">Espagne</span>
                au début des années 1990. Elle se caractérise par un tempo élevé oscillant entre
                <span class="fw-bolder text-secondary fs-5">150 à 190 BPM</span>, des kicks profonds et parfois distordus, des basses ainsi que des mélodies simples. Le mot signifie « machine » en espagnol, et est pour la première fois utilisé en 1995 pour décrire un style de musique déviant joué dans les discothèques situées à proximité des zones industrielles.
                <br><br>
                La makina est associée à une culture jeune ayant ses propres codes, son vocabulaire, ses rites. Les « makineros » et « makineras » barcelonais et valenciens ont quelques similitudes avec les gabbers néerlandais issus des années 1990. Le genre gagne significativement en popularité à l'international entre la fin des années 1990 et le début des années 2000, principalement en Europe et au Japon. Cependant, il décline encore plus significativement passé le milieu des années 2000. Dans les années 2010, le genre stagne par endroit, et maintient une certaine popularité dans des pays tels que le Royaume-Uni.
                <br><br>
                En Espagne, berceau de la makina, le genre était représenté par des clubs tels que
                <span class="fw-bolder text-secondary fs-5">Xque, Pont Aeri, Chasis, et Activa</span>. Les pionniers espagnols du genre incluent Ruboy, Gerard Requena, Pastis y Buenri, Skudero, et Xavi Metralla.</p>
            <div class="cards row mt-3 mb-3 justify-content-between">
                <h2 class="text-decoration-underline mb-3">Vidéos:</h2>
                {% for link in links %}
                    <div class="card shadow mb-2 col-xl-3 col-lg-4 col-md-6 col-12 p-2">
                        <iframe src="{{ link.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="card-body bg-white">
                            <h5 class="card-title">{{ link.title }}</h5>
                            <p class="card-text fs-6">{{ link.description|slice(0, 200)}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
